<template>
    <div class="">
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
            <div class="Polaris-Card" style="overflow: visible;">
                <div class="Polaris-Card__Header Polaris-Card__Header-meta">
                    <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                            <h2 class="Polaris-Heading">Products</h2>
                        </div>
                    </div>
                </div>

                <div class="Polaris-Card__Section">
                    <div class="d-flex justify-content-between{">
                        <div class="Polaris-Connected w-100">
                            <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented w-100">
                                <div class="Polaris-ButtonGroup__Item w-100">
                                    <div
                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary products-searchbar">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                            <div class="Polaris-TextField__Prefix"><span
                                                class="Polaris-Icon Polaris-Icon--hasBackdrop" aria-label=""><svg
                                                class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path
                                                d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"
                                                fill="#95a7b7" fill-rule="evenodd"></path></svg></span></div>
                                            <input type="search" v-model="search" name="search_keyword"
                                                   class="Polaris-TextField__Input browse_buy_product_search"
                                                   aria-invalid="false" @keyup="getProducts(1)"
                                                   placeholder="Search title" autocomplete="off">
                                            <div class="Polaris-TextField__Backdrop"
                                                 style="border-top-left-radius: 0;border-bottom-left-radius: 0"></div>
                                        </div>
                                    </div>
                                </div>

<!--                               sorting-->
                                <div class="Polaris-ButtonGroup__Item">
                                    <div style="width: 15%;">
                                        <button type="button" class="Polaris-Button inventoryfilter" tabindex="0"
                                                aria-controls="Polarispopover2" aria-owns="Polarispopover2"
                                                aria-expanded="true" @click="show_sorting = !show_sorting"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Sort: {{orderBy[order_by]}}</span><span
                                            class="Polaris-Button__Icon">
                                                    <div class="Polaris-Button__DisclosureIcon"><span
                                                        class="Polaris-Icon"><svg viewBox="0 0 20 20"
                                                                                  class="Polaris-Icon__Svg"
                                                                                  focusable="false" aria-hidden="true">
                                                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                            </svg></span></div>
                                                      </span></span>
                                        </button>
                                    </div>
                                </div>
                                <div v-if="show_sorting" class="Polaris-PositionedOverlay inventoryfilter Polaris-Popover__PopoverOverlayPolaris-Popover__PopoverOverlay--open"
                                     style="top: 37px; left: 82%;">
                                    <div class="Polaris-Popover" style="margin: 0;" data-polaris-overlay="true">
                                        <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                        <div class="Polaris-Popover__Wrapper" style="padding: 1.6rem;">
                                            <div id="Polarispopover2" tabindex="-1" class="Polaris-Popover__Content">
                                                <div
                                                    class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical"
                                                    data-polaris-scrollable="true">
                                                    <div class="Polaris-Stack Polaris-Stack--vertical">
                                                        <div class="Polaris-Stack__Item" :style="(i !== 0) ? 'margin-top:0rem;' : ''"  v-for="(item, i) in orderBy" :key="i">
                                                            <div style="cursor:pointer;"><label class="Polaris-Choice" :for="`order_by${i}`"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input :id="`order_by${i}`" name="filter" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" :value="i" v-model="order_by" @change="getOrderBy(i)" :checked="i === order_by" :disabled="(search !== '' && i === 2) || (search !== '' && i === 3)"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">{{item}}</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                    </div>
                                </div>

<!--                                paging-->
                                <div class="Polaris-ButtonGroup__Item" >
                                    <div>
                                        <button type="button" class="Polaris-Button inventoryfilter" v-bind:class="{ 'Polaris-Button--disabled':order_by === 1 || order_by === 2 || order_by === 3 || search !== ''}" :disabled="order_by === 2 || order_by === 3" tabindex="0"
                                                aria-controls="Polarispopover2" aria-owns="Polarispopover2"
                                                aria-expanded="true" @click="show_perPage = !show_perPage"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Per Page: {{per_page}}</span><span
                                            class="Polaris-Button__Icon">
                                                    <div class="Polaris-Button__DisclosureIcon"><span
                                                        class="Polaris-Icon"><svg viewBox="0 0 20 20"
                                                                                  class="Polaris-Icon__Svg"
                                                                                  focusable="false" aria-hidden="true">
                                                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                            </svg></span></div>
                                                      </span></span>
                                        </button>
                                    </div>
                                </div>
                                <div v-if="show_perPage" class="Polaris-PositionedOverlay inventoryfilter Polaris-Popover__PopoverOverlayPolaris-Popover__PopoverOverlay--open"
                                     style="top: 37px;width:124px;left:92%;">
                                    <div class="Polaris-Popover" style="margin: 0;" data-polaris-overlay="true">
                                        <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                        <div class="Polaris-Popover__Wrapper" style="padding: 1.6rem;">
                                            <div id="perpageselect" tabindex="-1" class="Polaris-Popover__Content">
                                                <div
                                                    class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical"
                                                    data-polaris-scrollable="true">
                                                    <div class="Polaris-Stack Polaris-Stack--vertical">
                                                        <div class="Polaris-Stack__Item" :style="(index !== 0) ? 'margin-top:0rem;' : ''" v-for="(page, index) in pagination">
                                                            <div><label class="Polaris-Choice" :for="`page${index}`"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input :id="`page${index}`" name="filter" type="radio" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" v-model=per_page :value="page" :checked="page === per_page" @change="getperPage()"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">{{page}}</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Labelled__HelpText mb-15">Type at least 3 characters</div>

                    <div class="inventory-list">
                        <table class="w-100">
                            <thead>
                            <tr v-if="productsList.length > 0">
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Products</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Inventory</span></h3>
                                </th>
                                <th><h3><span class="Polaris-TextStyle--variationStrong">Type</span></h3></th>
                                <th><h3><span class="Polaris-TextStyle--variationStrong">Vendor</span></h3></th>
                                <th><h3><span class="Polaris-TextStyle--variationStrong"></span></h3></th>
                                <th><h3><span class="Polaris-TextStyle--variationStrong show-diff"></span></h3></th>
                            </tr>
                            </thead>
                            <tbody class="parent">
                            <bullet-list-loader :width="500" :height="400" primaryColor="#f3f3f3" v-if="is_load">
                            </bullet-list-loader>
                             <tr class="Polaris-ResourceItem inv-design" v-if="productsList.length > 0"
                                     v-for="(product, pindex) in productsList" :key="pindex" @click="showVariants(pindex, product.id)">
                                 <td class="">
                                    <div class="d-flex align-center">
                                         <span class="mr-10 Polaris-Avatar Polaris-Avatar--styleSix Polaris-Avatar--sizeMedium Polaris-Avatar--hasImage border-radius-0">
                                        <img :src=product.image alt="" role="presentation" class="Polaris-Avatar__Image border-radius-0"></span>
                                        <p class="mb-0 tbl-font">{{product.title}}</p>
                                    </div>
                                </td>
                                 <td class="">
                                    <p class="mb-0 tbl-font">{{product.inventory}}</p>
                                </td>
                                 <td class="">
                                     <p class="mb-0 tbl-font">{{product.type}}</p>
                                 </td>
                                 <td class="">
                                     <p class="mb-0 tbl-font">{{product.vendor}}</p>
                                 </td>
                                 <td>
                                     <span class="mr-10 Polaris-Avatar Polaris-Avatar--styleSix Polaris-Avatar--sizeMedium Polaris-Avatar--hasImage border-radius-0" >
                                        <img src="/static_upload/Down-Arrow.png"  style="width: 15px;height: 15px;"  alt="" role="presentation" class="Polaris-Avatar__Image border-radius-0" :class="`arrow-${pindex}`"></span>
                                </td>
                                 <td class="show-diff" colspan="5">
                                    <table class="variants" :class="`product-${pindex}`" style="display: none;">
                                     <thead>
                                     <tr>
                                         <th class="text-left">
                                             <h3><span class="Polaris-TextStyle--variationStrong">Variant Name</span></h3>
                                         </th>
                                         <th class="text-left">
                                             <h3><span class="Polaris-TextStyle--variationStrong">Inventory</span></h3>
                                         </th>
                                         <th class="text-left">
                                             <h3><span class="Polaris-TextStyle--variationStrong">Price</span></h3>
                                         </th>
                                     </tr>
                                     <tr v-if="variantsList.length > 0" v-for="(variant, vindex) in variantsList" :key="vindex">
                                         <td>
                                             <p class="mb-0 tbl-font">{{variant.title}}</p>
                                         </td>
                                         <td>
                                             <p class="mb-0 tbl-font">{{variant.inventory}}</p>
                                         </td>
                                         <td>
                                             <p class="mb-0 tbl-font">{{variant.price}}</p>
                                         </td>
                                     </tr>
                                     <tr v-if="variantsList.length <= 0">
                                         <td colspan="3" class="text-center">
                                            Loading...
                                         </td>
                                     </tr>
                                     </thead>
                                 </table>
                                 </td>
                            </tr>
                            <tr v-if="productsList.length <= 0 && !is_load">
                                <td colspan="4" class="text-center">
                                    <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path
                                            d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path>
                                    </svg>
                                    <h2 class="Polaris-Heading">Could not find any products</h2>
                                    <p class="Polaris-TextStyle--variationSubdued">Try changing the filters or search
                                        term</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-10 justify-content-center" v-if="productsList.length > 0 && search === ''">
                        <nav class="Polaris-Pagination" aria-label="Pagination">
                            <button :disabled="!prev_page" v-bind:class="{ 'Polaris-Button--disabled': !prev_page }" type="button"
                                    class="Polaris-Pagination__Button Polaris-Pagination__PreviousButton" aria-label="Previous"
                                    v-on:click="getProducts(prev_page+ '&s=' + search)"><span
                                class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path
                        d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2"
                        fill-rule="evenodd"></path>
                    </svg></span></button>
                            <button :disabled="!next_page" v-bind:class="{ 'Polaris-Button--disabled': !next_page }" type="button"
                                    class="Polaris-Pagination__Button Polaris-Pagination__NextButton"
                                    aria-label="Next" v-on:click="getProducts(next_page + '&s=' + search)"><span class="Polaris-Icon"><svg
                                viewBox="0 0 20 20"
                                class="Polaris-Icon__Svg"
                                focusable="false" aria-hidden="true">
                    <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                    </svg></span></button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>

    import {BulletListLoader} from 'vue-content-loader';
    export default {
        components: {
            BulletListLoader,
        },
        data() {
            return {
                index: '',
                search: '',
                productsList: [],
                variantsList: [],
                next_page: '',
                prev_page: '',
                pagination: [5, 10, 15, 20],
                orderBy: ['Title [A-Z]', 'Title [Z-A]', 'High Inventory', 'Low Inventory'],
                show_sorting: false,
                show_perPage: false,
                per_page: 10,
                order_by: 0,
                is_load: true,
            }
        },
        methods: {
            getperPage(){
                let page = (this.next_page) ? this.next_page : 1;
                  this.getProducts(1);
                  this.show_perPage = false;
            },
            getOrderBy(index){
                this.order_by=index;
                this.getProducts(1);
                this.show_sorting = false;
            },
            showVariants(index, id){
                this.getVariants(id);
                this.productsList.forEach(function(element, i){
                     if(  i !== index){
                        $('.product-'+i).hide();
                         $('.arrow-'+i).attr('src', '/static_upload/Down-Arrow.png');
                     }
                });
                $('.product-'+index).toggle('medium');
                let src = $('.arrow-'+index).attr('src');

                let new_src = (src === '/static_upload/Down-Arrow.png') ? '/static_upload/Up-Arrow.png' : '/static_upload/Down-Arrow.png';
                $('.arrow-'+index).attr('src', new_src);
            },
            async getVariants(id) {
                let base = this;
                base.variantsList = [];
                let endPoint = '/variants?product_id=' + id;

                await axios.get(endPoint)
                    .then(res => {
                        var data = res.data.data;
                        base.variantsList = data.variant;
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                    });
            },
            async getProducts(page) {
                let base = this;
                base.is_load = true;
                base.productsList = [];
                base.is_load = true;
                let url = '/products?per_page=' + base.per_page + '&s=' + base.search + '&order=' + base.order_by;
                let endPoint = (page === 1) ? url : url + '&page=' + page;

                await axios.get(endPoint)
                    .then(res => {
                        var data = res.data.data;
                        base.productsList = data.product;
                        base.page = base.next_page;
                        base.next_page = data.next;
                        base.prev_page = data.prev;
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                        base.is_load = false;
                    });
            },
            documentClick(e){
                let base = this;
                let filter_selector = $('.inventoryfilter');
                if (!filter_selector.is(e.target) && filter_selector.has(e.target).length === 0) {
                    base.show_perPage = false;
                    base.show_sorting = false;
                }
            }
        },
        mounted() {
            let base = this;
        },
        created() {
            this.getProducts(1);
            document.onclick = this.documentClick;
        },
    };
</script>
