// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.inventory .accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.inventory .active, .accordion:hover {
    background-color: #ffffff;
}

.inventory .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.inventory .active:after {
    content: "\2212";
}

.inventory .panel{
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    max-height: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    transition: max-height 0.2s ease-out;
}
.custom-box {
    background-color: #fff;
    padding: 1.6rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.custom-row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.custom-row > * {
    padding-left: 8px;
    padding-right: 8px;
}

.area-settings-nav__item {
    width: 33.333%;
}

@media (max-width: 767px) {
    .area-settings-nav__item {
        width: 100%;
    }
}

.area-settings-nav__action {
    font-size: 1.4rem;
    display: -webkit-box;
    display: flex;
    width: 100%;
    border-radius: 3px;
    color: #212b36;
    text-decoration: none;
    padding: 1.2rem;
}

.area-settings-nav__action:hover {
    background-color: #f9fafb;
    text-decoration: none;
    outline: none;
}

.area-settings-nav__action:hover .area-settings-nav__media {
    background-color: #dfe3e8;
}

.area-settings-nav__media {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    border-radius: 3px;
    background-color: #f4f6f8;
}

.area-settings-nav__media .next-icon--size-20 {
    fill: #919eab;
    color: transparent;
    width: 20px;
    height: 20px;
}

.area-settings-nav__action:hover .area-settings-nav__title {
    color: #084e8a;
}

.area-settings-nav__title {
    font-weight: 600;
    margin: 0;
    color: #007ace;
}

.area-settings-nav__description {
    color: #637381;
    margin: 0;
}

.w-33 {
    width: 33.333%;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: -webkit-box;
    display: flex;
}

.ml-16 {
    margin-left: 16px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 10px;
}

.mt-1 {
    margin-top: 0.5rem !important;
}

.align-end {
    -webkit-box-align: end;
    align-items: flex-end;
}

.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.justify-content-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.mt-16 {
    margin-top: 16px;
}

.Polaris-ResourceItem {
    position: relative;
    outline: none;
    cursor: pointer;
}

.Polaris-ResourceItem:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(223, 227, 232, 0.3)), to(rgba(223, 227, 232, 0.3)));
    background-image: linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
}

.Polaris-ResourceItem__Link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.Polaris-ResourceItem__Container {
    position: relative;
    z-index: 2;
    padding: 1.2rem 2rem;
    min-height: 4.4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}

.Polaris-ResourceItem__Media {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 2rem;
    color: inherit;
    text-decoration: none;
}

.Polaris-ResourceItem__Owned {
    display: -webkit-box;
    display: flex;
    align-self: flex-start;
}

.Polaris-ResourceItem__Content {
    min-width: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    align-self: center;
}

.p-0 {
    padding: 0 !important;
}

.met-according {
    border-bottom: 0.1rem solid #dfe4e8;
}

.met-according-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 0.1rem solid #dfe4e8;
}

.met-according-item h2 {
    font-size: 1.6rem;
    font-weight: 600;
}
.tbl-font{
    font-size: 18px;
}
.met-according-item i {
    font-size: 2rem;
}

.met-according-body {
    padding: 2rem;
}

.tag {
    position: relative;
    display: inline-block;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    padding: 0 1rem;
    line-height: 2.8rem;
    vertical-align: middle;
    background-color: #B4E1FA;
    color: #001429;
}

.item p {
    margin-bottom: 1.5rem;
}

.align-center {
    -webkit-box-align: center;
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.border-radius-0 {
    border-radius: 0;
}

.mt-30 {
    margin-top: 30px;
}

.ui-icon {
    margin-top: 1.5em !important;
}

.Polaris-Button {
    white-space: nowrap;
}

.ad-metafield-field {
    padding: 3px 10px;
}

.ad-metafield-field:not(:last-child) {
    border-right: 0.2rem solid #c4cdd5;
}

.ad-metafield-item {
    padding: 30px 20px;
}

.ad-metafield-item:not(:last-child) {
    border-bottom: 0.1rem solid #c4cdd5;
}

.custom-error {
    color: #f90000 !important;
}

.inventory-list {
    max-width: 100%;
    min-width: 100%;
    overflow-x: auto;
}

.inventory-list th {
    border-bottom: 1px solid #ebeef0;
    padding: 8px 10px;
    font-size: 1.4rem;
}

.inventory-list tr td {
    padding: 8px 10px;
    font-size: 1.4rem;
    border-bottom: 1px solid #ebeef0;
    white-space: nowrap;
}

.inventory-list tr:last-child td {
    border-bottom: 0;
}

.list-groups-div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-groups-div ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.6rem 2rem;
}

.list-groups-div ul li:not(:last-child) {
    border-bottom: 0.1rem solid #dfe3e8;
}

.list-groups-div ul li label {
    padding: 0;
}

.text-capitalize {
    text-transform: capitalize;
}

.mb-25 {
    margin-bottom: 25px;
}


@media (max-width: 767px) {
    .d-xs-block {
        display: block !important;
    }

    .Polaris-Page {
        padding: 0 15px;
    }

    .mb-xs-15 {
        margin-bottom: 15px;
    }

    .mb-xs-10 {
        margin-bottom: 10px;
    }

    .justify-content-xs-end {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .tag-list {
        flex-wrap: wrap;
    }

    .tag-list .tag {
        margin: 0;
        margin-bottom: 0.5rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    .met-according-item {
        padding: 1rem;
    }

    .ad-metafield-item {
        padding: 1rem;
    }

    .icon-dragn {
        display: none !important;
    }

    .metafield-item {
        width: auto;
    }

    .metafield-item .w-25 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .ml-xl-0 {
        margin-left: 0;
    }

    .mobile-remove-btn .Polaris-Label {
        display: none;
    }
}

button.Polaris-ActionList__Item.nh:hover {
    background: #5c6ac4;
    color: white;
}

.show-diff{
    display: table-row;
    width: 100%;
}

table tbody tr {
    display: contents;
    width: 100%;
}

.variants{
    width: 100%;
}
.variants tr{
    display: table-row;
}

